@mixin woa-radius($rad) {
	-moz-border-radius: $rad;
	border-radius: $rad;
	-webkit-border-radius: $rad;
}
@mixin woa-shadow($hor,$ver,$blur,$color) {
   -moz-box-shadow: $hor $ver $blur $color;
   -webkit-box-shadow: $hor $ver $blur $color;
   box-shadow: $hor $ver $blur $color;
}

body#woa-body {
  background-color : #ccc;
  margin : 0 auto;
  width : 800px;
	font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";

  div#woa-container {
    width : 100%;
    margin-top : 20px;
    padding : 10px;
    background-color : #fff;
    font-size : 11px;
    @include woa-radius(10px);
  	@include woa-shadow(3px,3px,6px,#333);
  	a, a:visited {
      color : #0000ff;
  	}
  }
  table.woa-data {
    width : 100%;
    tr:first-child {
    	background-color : #999;
    	font-weight : bold;
    }
    tr.woa-even {
      background-color : #ccc;
    }
    tr.woa-odd {
      background-color : #eee;
    }
    td {
      padding : 5px;
    }
    td.centered {
    	text-align : center;
    }
    td.action {
    	text-align : center;
    	width : 150px;
    }
  }
}
